html,body{
	background:white ;
	font-family:sans-serif ;
	overflow-x:hidden !important;
	margin:0px !important;
	padding: 0px !important;
	scroll-behavior: smooth;

	
}

*{
	text-decoration: none !important;
	list-style: none;
    padding: 0;
}

.nav{
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	right: 0;
	left: 0;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between ;
	align-items: center;
	padding: 0 25px 0 25px;
	background-color: #38d39f;
	box-shadow: 0 19px 38px rgba(0,0,0,0.10);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.nav .links a{
	margin-right: 25px;
	font-size: 16px;
	font-weight: 600;
	color: black;
}

.nav .links .mainlink{
	color: #ffffff;;
}

.nav h4{
	font-size: 22px;
	font-weight: bold;
	margin-left: 25px;
}

/*landing css*/

.landing{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 10vw 0 10vw;
	height: 100vh;
}

.landingteks h1{
	font-size: 6vw;
	margin: 0 !important;
}

.landingteks h3{
	margin: 6px !important;
	font-size: 20px;
	opacity: 0.3;
	line-height: 30px;
}

.landingteks .btn{
	width: 120px;
	margin-top:30px ;
	padding: 14px 20px 14px 20px;
	background-color: #38d39f;
	border-radius: 45px;
}

.landingteks .btn a{
	font-size: 1.2vw;
	color: #fff;
}

.landingimage {
	width: 28vw;
}

/*about css*/

.about{
    height: 600px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.aboutteks{
    position: relative;
    padding: 0 50px;
    height: inherit;
}

.aboutteks h1{
    position: relative;
    left: 110px;
}

.aboutteks img{
  width: 24vw;
  position: absolute;
	top: 50px;
	right: 37px;
}

.aboutlist{
  width: 50%;
}

ol{
    list-style: none;
    color: #38d39f;
}

ol li{
    font-size: 34px;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}

li p{
    font-size: 16px;
    color: #000;
    padding-left: 60px;
    line-height: 30px;
    opacity: 0.6;
}

li span{
    position: absolute;
    line-height: 25px;
    font-weight: 600;
}

/*info section*/

.infosection {
	height: 600px;
}

.infoheader{
	text-align: center;
	margin-bottom: 40px;
}

.infocards{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 40px 0 40px 0;
}

.infocards .card{
	position: relative;
	height: 360px;
	width: 350px;
	background: #fff;
	box-shadow: 0 10px 22px rgba(0,0,0,0.09),0 10px 10px rgba(0,0,0,0.09)

}

.infocards .cardoneimg{
	width: 320px;
	position: absolute;
	top: -50px;
	right: -50px;
}

.infocards .cardtwoimg{
	width: 320px;
	position: absolute;
	top: -50px;
	right: -50px;
}

.infocards .cardthreeimg{
	width: 320px;
	position: absolute;
	top: -50px;
	right: -50px;
}


.cardbgone{
	height: 150px;
	background-color: #ffce63;
}

.cardbgtwo{
	height: 150px;
	background-color: #e0501b;
}

.cardbgthree{
	height: 150px;
	background-color: #2f8be0;
}

.cardcontent{
	padding: 0 20px;
}

.cardcontent h2{
	font-weight: 600;
}

.cardcontent p{
	line-height: 30px;
	opacity: 0.6;
}

.cardcontent .cardbtn{
	position: absolute;
	right: 20px;
	top: 310px;
	padding: 10px;
	background-color: #ededed;
	width: 25px;
	height: 20px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all ease-in-out 0.2s;
}

.cardcontent .cardbtn:hover{
	background-color: #38d39f;;
}


.cardcontent .cardbtn .cardicon{
	position:relative;
	top: 0px;
	left: 0px;
	width: 16px;
}



/*responsive*/

@media only screen and (max-width: 600px){

	.nav{
		flex-direction: column;
		justify-content: space-around;
		padding: 20px;
		margin-left: -20px;
		height: auto;
		overflow-y: hidden;
	}
	
	.nav h4{
		font-size: 6vw;
		margin-top: 10px;
		margin-bottom: 14px;
		margin-left: -10px;
	}
	
	.nav .links a{
		margin-right: 25px;
		font-size: 12px;
		font-weight: 600;
	}
	
	
	/* LANDING PAGE */
	
	.landing{
		flex-direction: column-reverse;
		height: 750px;
		align-items: center;
		justify-content: center;
		text-align: center
	}
	
	.landingteks h1{
		font-size: 6vw;
		margin: 0 !important;
	}

	.landingteks h1{
		font-size: 6vw;
		margin: 0 !important;
	}
	
	.landingteks h3{
		font-size: 16px;
	}
	
	.landingteks .btn{
		margin: 0 auto;
	}
	
	.landingteks .btn a{
		font-size: 3vw;
	}
	
	.landingimage img{
		width: 52vw;
		margin-bottom: 20px;
		margin-left: -30px;
	}
	
	
	/* ABOUT */
	
	.about{
		margin-left: 20px;
		height: auto;
		padding: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.aboutteks{
		padding: 0 50px;
		height: 100px;
	}
	
	.aboutteks h1{
		left: 40px;
		font-size: 5vw;
	}
	
	.aboutteks img{
		width: 16vw;
		top: 10px;
		left: -30px;
	}
	
	.aboutList{
		width: 75%;
	}
	
	ol li{
		font-size: 26px;
	}
	
	li p{
		font-size: 14px;
	}
	
	.infosection{
		height: auto;
		margin-left: -20px;
	}
	
	.infoheader{
		text-align: center;
		margin: 40px 0;
	}
	
	.infocards{
		display: flex;
		flex-direction: column;
		padding: 50px;
		justify-content: center;
		align-items: center;
		text-align: center
	}
	
	.infocards .card{
		margin-bottom: 60px;
	}
	





}

	


